@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text-primary;
  }
}

.timer-container {
  border-color: #191919;
  border-width: 6px;
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.analytics-container {
  @apply min-h-screen flex flex-col bg-background p-8;
}

.analytics-header {
  @apply text-3xl font-bold text-gray-200 mb-6;
}

.analytics-card {
  @apply bg-gray-800 p-4 rounded-lg;
}

.analytics-date {
  @apply text-2xl font-semibold text-gray-200 mb-2;
}

.analytics-list {
  @apply list-disc list-inside;
}

.analytics-item {
  @apply text-gray-400;
}
